//colors
// source image for pallette http://1.bp.blogspot.com/-ToP42pMWcXY/UCkQq6MIavI/AAAAAAAAFHo/uDwC62NO-90/s640/Screen+shot+2012-08-13+at+10.33.58+AM.png
//animations inspiration https://www.youtube.com/watch?v=d1RnYfFZK2k
$moonstone: #7DB4BE;
$verdigris: #4296AC;
$hansa: #EBC85B;
$gainsboro: #E0DDDE;
$vermillion: #E4411D;

//fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$nunito: 'Nunito', sans-serif;


body{
  margin: 0;
  font-family: $nunito;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
.page{
    width: 1275px;
    height: 699px;
    position: fixed;
}
.content{
  margin-left: 150px;
}
#nav{
  position: fixed;
  top:15px;
  right: 30px;
  z-index: 99999;

}
#navIcon{
  width: 55px;
  transition: all 0.75s;
}
.aboutIcon{
    width:72px;
  }
.camera{
  margin-left: 450px;
  margin-top: 200px;
}
.tv{
  margin-left: 50px;
  margin-bottom: 7px;
}

.computer{
  margin-left: 50px;
  margin-bottom: 4px;
}
#aboutPhoto{
  width: 200px;
  height: 200px;
  margin-top: -30px;
  margin-left: 125px;
  border-radius: 50%;
  border: 3px solid $hansa;
}
#expandedNav{
  position: fixed;
  top:75px;
  right: 15px;
  opacity: 0;
  border: 2px solid $hansa;
  padding: 3px;
  width: 75px;
  border-radius: 10%;
  transition: opacity 0.1s;
  transition-delay: 0.25s;
  ul{
    margin: 0;
    margin-left: -40px;
    li{
      text-align: center;
      color: transparent;
      -webkit-text-stroke: 0.75px $hansa;
      font-size: 24px;
      transition: -webkit-text-stroke 0.5s;
      &:hover{
        -webkit-text-stroke: 0.75px $vermillion;
      }
    }
  }
}

#landing{
  background-image: url("http://i.giphy.com/IGkSgCTYahzxu.gif");
  background-repeat: no-repeat;
  background-size: 1275px 699px;
  overflow: hidden;
  left: 0;
}
#header-text{
  display: block;
  font-size: 40px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px $hansa;
  margin-top: 200px;
  a{
    display: block;
    font-size: 36px;
    -webkit-text-stroke: 1px $hansa;
    margin-top: -60px;
    color:transparent;
    text-decoration: none;
    transition: -webkit-text-stroke 0.5s;
    &:hover{
      -webkit-text-stroke: 1px $vermillion;
    }
  }
}
#about{
  background-color: $moonstone;
  left: -1275px;
  transition: left 1s;
  .header{
    display: block;
    font-size: 48px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px $hansa;
    margin-top: -125px;
    margin-left: -600px;
  }
  #headerSecond{
    display: block;
    margin-top: -20px;
  }
}
#aboutBody{
  width: 550px;
  margin-left: 360px;
  margin-top: -220px;
}
#photo{
  background-color: $verdigris;
  left: 1275px;
  transition: left 1s;
  .landscape{
    width: 400px;
  }
  .portrait{
    width: 200px;
  }
}

#video{
  background-color: $hansa;
  top: -699px;
  transition: top 1s;
}
#web{
  background-color: $vermillion;
  top: 699px;
  transition: top 1s;
}
